/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-feb-26, 23:35:41
    Author     : Loki
*/

.root{
    -fx-background-color: #ffffff;	
}

.button{
    -fx-background-color:#727272;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: #808080;
}

 button:focused {
    -fx-background-color: #1d92b0;
 }
 
#homeMenuButton.button:focused {
    -fx-background-color: transparent;
}

#backMenuButton.button:focused {
    -fx-background-color: transparent;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #757575;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

